<a href="https://colab.research.google.com/github/HongSewon-web/ALP_CS/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Day1

# Programming Variables

###Task1
on name='Axl', 'Axl' gets into the name1(memory)
after we " print(name) ", the computer tries to print name and access the memory, getting out 'Axl'

In [ ]:
name = 'Axl'
print(name)

###Task2

In [ ]:
#You can Combine variables with strings in an output
name1="Axl"
name2="Slash"
#Add 2 more variables to store 'Duff' and 'Izzy'
name3='Duff'
name4='Izzy'

print(name1+" and "+name2+" and "+name3+" and "+name4)

###Task3

In [ ]:
name="Sewon"
favFood="kimchi jjigae"
print(name)
print(favFood)
print("My name is "+name)
print("My favorite food is "+favFood+", which is a food from Korea")
print("My name is "+name+" and my favorite food is "+favFood)

#Programming Input

###Task1
expect: Hi Dave! How are you today?

###Task2
"Hi What's your name?" will be printed,
then as "Dave" gets into the variable, name,
print("Hi "+name+"! How are you today?") is printed out Hi Dave! How are you today?

In [ ]:
print("What is your name")
name=input()
print("Hi "+name+"! How are you today?")

###Task3

In [ ]:
name=input("What's your name?")

### Task4

### Task5

In [ ]:
name=input("What's your name?")
print("We want to know if you like programming!")
print()
answer=input("Do you like programming, "+ name +"?")
print("Great! You said" + answer + "!")
print("Let's learn some Python today")

### Programming Chat-Bot

In [ ]:
name=input("Hi Nice to meet you! What's your name?")
ans=input(f"{name} Is your name right?")
if "NO" in ans.upper():
  while True:
    name=input("Then, what's your name?")
    ans=input(f"{name} Is your name right?")
    if "NO" not in ans.upper():
      break
print("Wow that's a good name, "+name+"! My name is ChatBot!")
howAreYou=input(f"{name} how are you today?")
print("Oh I see, hope you have a great day, "+name+"!")
country=input(f"I'm from Internet! Where are you from, {name}?")
print(country, "Oh you from "+country+", that's nice!")
color=input(f"What color is your favorite color, {name}?")
print("Oh I love that color too!")
print("So your name is "+name+" and you are from "+country+" and your favorite color is "+color+"!")

Hi Nice to meet you! What's your name?Sewon
Sewon Is your name right?No
Then, what's your name?Hong
Hong Is your name right?yes
Wow that's a good name, Hong! My name is ChatBot!
Hong how are you today?bad
Oh I see, hope you have a great day, Hong!
I'm from Internet! Where are you from, Hong?Korea
Korea Oh you from Korea, that's nice!
What color is your favorite color, Hong?blue
Oh I love that color too!
So your name is Hong and you are from Korea and your favorite color is blue!

#Programming operators

###Task1

In [ ]:
print(8+2)
print(8-2)
print(8*2)
print(8/2)
print(8//2)

score=0
print(score)
score=10
print(score)
score=score+1
print(score)

num1=int(input("Enter a number "))

10
6
16
4.0
4
0
10
11
Enter a number 522164

###Task5 - Homework - Area Calculator

In [ ]:
width=int(input("input width "))
length=int(input("input length "))
print("The area of the rectangle is ", width*length )

input width6
input length0
The area of the rectangle is  0

In [ ]:
width=int(input("input width "))
length=int(input("input length "))
print("The perimeter of the rectangle is ", 2*(width+length) )

In [ ]:
priceOfMeal=int(input("input price of meal "))
print("The tip is ", priceOfMeal*0.2)
print("The total price is ", priceOfMeal*1.2)

input price of meal 1000
The tip is  200.0
The total price is  1200.0

In [ ]:
width=int(input("input width "))
length=int(input("input length "))
height=int(input("input height "))
print("The volume of the cube is ", height*width*length )
print("The surface area of the cube is ", 2*(height*width+height*length+width*length))

input width 6
input length 2
input height 33
The volume of the cube is  396
The surface area of the cube is  552

#Programming Boolean

In [ ]:
num1=100
num2=50
if num1>num2:
  print("num1 is bigger")
else:
  print("num2 is bigger")
print("End of program")

num1 is bigger
End of program

###Task3 The login checker

In [ ]:
password=1337
ans=int(input("Guess the password!"))
if password==ans:
  print("Password correct")
else:
  print("Password incorrect")

Guess the password!1337
Password correct

###Task4 Biggest Number

In [ ]:
n,m=map(int,input("input two numbers a the blank ").strip().split())
if n>=m:
  print(n)
else:
  print(m)

#print(max(n,m))

input two numbers a the blank 5625632452145 14521452145145
14521452145145

#elif

###Task

In [ ]:
name=input("What's your name?")
subject=input("What's your subject? You should write it correctly.")
if subject=="Computer Science":
  print("Hi", name+". Go to room 401 for "+subject)
elif subject=="Physics":
  print("Hi", name+". Go to room 302 for "+subject)
elif subject=="Calculus":
  print("Hi", name+". Go to room 203 for "+subject)
elif subject=="Linear Algebra":
  print("Hi", name+". Go to room 104 for "+subject)
else:
  print("there is no classroom for "+subject)

What's your name?Sewon
What's your subject?Physics
Hi Sewon. go to room 302 for Physics

### Extra Challenge-The INSULT-O-MATIC 5000

In [ ]:
name=input("What's your name?")
num=input("Choose a number betweeen 1 and 5")
if num not in range(1,6):
  print(name, "are you dumb? You can't even count number.")
elif num==1:
  print("I hope you're number one even in the order of death")
elif num==2:
  print("be second, always")
elif num==3:
  print("I hope you step on the lego")
elif num==4:
  print("you look like poop")
else:
  print("")

SyntaxError: invalid syntax (<ipython-input-43-86251dcf78d3>, line 6)

#Iteration

###Task3

In [ ]:
number=216
ans=int(input("Guess a number"))
while ans!=number:
  if ans>
  number:
    print("Down")
  else:
    print("Up")
  ans=int(input("Try again!"))
print("You are right!")

Guess a number100
Up
Try again!300
Down
Try again!150
Up
Try again!175
Up
Try again!200
Up
Try again!250
Down
Try again!225
Down
Try again!213
Up
Try again!219
Down
Try again!216
You are right!

###Task Part 2

In [ ]:
num=1
# output multiples of 7
while num<13:
  print(num,'X 7 =', num*7)
  num+=1

1 X 7 = 7
2 X 7 = 14
3 X 7 = 21
4 X 7 = 28
5 X 7 = 35
6 X 7 = 42
7 X 7 = 49
8 X 7 = 56
9 X 7 = 63
10 X 7 = 70
11 X 7 = 77
12 X 7 = 84

In [ ]:
limit, =int(input("Enter two number"))
num=1
while num<=limit:
  print(num,'X', limit,'=', num*limit)
  num+=1

#Homework Challenge

In [ ]:
num=int(input("Enter a natural number "))
counter=1
while counter<=num:
  print(counter**3, end=' ')
  counter+=1

Enter a natural number 41
1 8 27 64 125 216 343 512 729 1000 1331 1728 2197 2744 3375 4096 4913 5832 6859 8000 9261 10648 12167 13824 15625 17576 19683 21952 24389 27000 29791 32768 35937 39304 42875 46656 50653 54872 59319 64000 68921