<a href="https://colab.research.google.com/github/HongSewon-web/ALP_CS/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Day2

#Iteration with a counter

###Task1

In [3]:
counter=1
while counter<=5:
  print("this code is inside the loop")
  counter+=1
  print(counter)
print("The loop has finished")

this code is inside the loop
2
this code is inside the loop
3
this code is inside the loop
4
this code is inside the loop
5
this code is inside the loop
6

###Task2

In [7]:
counter=int(input("Enter the countdown number!"))
while counter>0:
  print(counter)
  counter-=1
print("Blast off!")

Enter the limit number!5
5
4
3
2
1
Blast off!

###Task Predict Run

In [210]:
#Example 1
correctUserName="Dave"
userName=input.lower(("Please enter your user name"))

while userName!=correctUserName:
  userName=input.lower(("Invalid user name, please try again"))

print("Username accepted")

AttributeError: 'function' object has no attribute 'lower'

it would make errors, because input.lower(()) is not a correct syntax and also after we change it, as "Dave" contains upper case, the loop won't be finished.
However if we change it all correct, then it will ask userName and until it matches with correctUserName, it tries again and again until it get correct userName.

In [218]:
#right code
correctUserName="dave"
userName=input("Please enter your user name").lower()

while userName!=correctUserName:
  userName=input("Invalid user name, please try again").lower()

print("Username accepted")

Please enter your user namedfgf'
Invalid user name, please try againDAVE
Username accepted

In [215]:
#Example 2
num1=int(input("Enter a number between 1 and 10."))

while num1<1 or num1>10:
  num1=int(input("Invalid number,please try again"))

print("Input accepted")

Enter a number between 1 and 10.52
Invalid number,please try again5
Input accepted

###Task - Make 1

In [11]:
pass1=input("Please enter your password")
pass2=input("Please enter it again")

while pass1!=pass2:
  pass1=input("Passwords do not match, please try again")
  pass2=input("Please enter it again")
print("Passwords accepted")

Please enter your passwordPd37mc
Please enter it againPd37Mc
Passwords do not match, please try againPd37Mc
Please enter it againPd37Mc
Passwords accepted

#Lists

Task 2&3

In [20]:
fruit =["Apple","Banana","Orange","Strawberry","Melon","Watermelon","Grape"]
print(fruit[3])
print(fruit)
print(fruit[int(input("input a number between 0 and 6 "))])

Strawberry
['Apple', 'Banana', 'Orange', 'Strawberry', 'Melon', 'Watermelon', 'Grape']
input a number between 0 and 6 5
Watermelon
['Banana', 'Orange', 'Strawberry', 'Melon', 'Watermelon', 'Grape']

###Task List Assignment 1

In [209]:
countries=["UK","USA","Chad","Austrailia","Thailand"]
countries[3]="Mexico"
#0,1,2,3 so fourth country of list countries turns into "Mexico"
countries[0]="Iceland"
#first country of list countries turns into "Iceland"
countries[1]=countries[4]
#0,1 so second country of list countries turns into "Thailand", which is on fourth index, 0,1,2,3,4
#["Iceland","Thailand","Chad","Mexico","Thailand"]
print(countries)

['Iceland', 'Thailand', 'Chad', 'Mexico', 'Thailand']

###Task List Assignment 2

In [225]:
squareNumbers=[1,4,9,16,25,36]
squareNumbers[5]=49
#0,1,2,3,4,5 so sixth number turns into 49
squareNumbers[0]+=1
#as it means squareNumbers[0]=squareNumbers[0]+1, first number in list squareNumbers, 1, gets +1, so become 2
total=squareNumbers[3]-squareNumbers[1]
#the variable, total, gets the value of squareNumbers[3]-squareNumbers[1], which is 16(squareNumbers[3])-4(squareNumbers[1]), so 12
#[2,4,9,16,25,49]
print(squareNumbers)

[2, 4, 9, 16, 25, 49]


###Task Add & Remove From A List 1

In [21]:
food=["bacon","cheese","pasta","beans"]

food.append("tomatoes")
#put "tomatoes" to the end of the list
food.insert(1,"ice cream")
#put "ice cream" in index 1, and others with index between 1 and 4 move backward 1
food.remove("cheese")
#"cheese" is removed from the list
food.pop()
#the last index thing gets rid of
#["bacon","ice cream","pasta","beans"]
print(food)

['bacon', 'ice cream', 'pasta', 'beans']

Homework Challenge - Beat The Zombie!

In [42]:
def choose_in_list():
  userWeapon=input("enter the weapon name").lower()
  if userWeapon not in weapons:
    return "Zombies attacked while you entered invalid weapon. you died."
  if userWeapon in zombieWeakness:
    return"You killed the zombie, you survived."
  return f"You chose wrong weapon, {userWeapon} was too weak to beat the zombies. You died."
def choose_your_own():
  weapons.append(input("enter your own weapon").lower())
  if weapons[-1] in zombieWeakness:
    return "You killed the zombie, you survived."
  return f"You chose wrong weapon, {weapons[-1]} was too weak to beat the zombies. You died."
weapons=["pan","gun","knife","chainsaw","bat", "hammer","chair"]
zombieWeakness=["gun","flamethrower"]
print("You encounters a group of zombies. You should prepare to fight")
print(weapons)
ans=input("if you type 1, you can use one from the list. If you type 2, you can pick your own. ")
if ans=='1':
  print(choose_in_list())
elif ans=='2':
  print(choose_your_own())
else:
  print("Zombies attacked while you entered invalid answer. You died.")

You encounters a group of zombies. You should prepare to fight
['pan', 'gun', 'knife', 'chainsaw', 'bat', 'hammer', 'chair']
if you type 1, you can use one from the list. If you type 2, you can pick your own. 2
enter your own weaponclock
You chose wrong weapon, clock was too weak to beat the zombies. You died.

#functions/Subroutines

###Independent Challenge - Calculator

In [51]:
def add(num1,num2):
  return num1+num2
def subtract(num1,num2):
  return num1-num2
def multiply(num1,num2):
  return num1*num2
def divide(num1,num2):
  if num2==0:
    return "Invalid-Cannot divide by zero"
  return num1/num2
n,m=map(int,input("Enter two numbers").split())
ans=int(input("enter 1 to add, 2 to subtract, 3 to multiply, and 4 to divide"))
calculator=[add,subtract,multiply,divide]
print(calculator[ans-1](n,m))

Enter two numbers2 5
enter 1 to add, 2 to subtract, 3 to multiply, and 4 to divide2
-3

#File

In [142]:
#reading
myFile=open("text.txt","r")
for line in myFile:
  print(line)
myFile.close()

Hello world

In [221]:
#writing
myFile=open("text.txt","w")
myFile.write("Hello world")
myFile.close()

In [222]:
#append
myFile=open("text.txt","a")
myFile.write("How are you? \n")
myFile.close()

In [223]:
def paragraph(text):
  myFile=open("text.txt","a")
  myFile.write(text)
  myFile.close()
  myFile=open("text.txt","r")
  for line in myFile:
    print(line)
  myFile.close()
text="\n Wisconsin (/wɪˈskɒnsɪn/ ⓘ wisk-ON-sin)[13] is a state in the Great Lakes \n region of the Upper Midwest of the United States. It borders Minnesota to the west,\n Iowa to the southwest, Illinois to the south, Lake Michigan to \n the east, Michigan to the northeast, and Lake Superior to the north. \n Wisconsin is the 25th-largest state by land area and the 20th-most populous. It is divided into 72 counties \n and as of the 2020 census had a population of nearly 5.9 million.[14] Its most populous city \n is Milwaukee, while its capital and second-most populous city is \n Madison. Other large population centers \n include Green Bay, \n Kenosha, Racine, and the Fox Cities.[15] \n Wisconsin's geography is diverse, having \n been greatly impacted by glaciers during the \n Ice Age with the exception of the Driftless Area.\n The Northern Highland and Western \n Upland along with a part of \n the Central Plain occupy the western \n part of the state, with lowlands \n  stretching to the shore of Lake Michigan. \n Wisconsin is third to Ontario \n and Michigan in the length of its Great \n Lakes coastline. The northern portion of the \n state is home to the Chequamegon-Nicolet \n National Forest. At the time of European \n contact, the area was inhabited by Algonquian \n and Siouan nations, and today it is home to eleven \n federally recognized tribes.[16] During the 19th \n and early 20th centuries, many European settlers entered \n the state, most of whom emigrated from Germany \n and Scandinavia.[17][18] Wisconsin remains a \n center of German American and Scandinavian \n American culture,[19] particularly in respect \n to its cuisine, with foods such as bratwurst \n and kringle."
paragraph(text)
text2=" ^^This is a different text"

Hello worldHow are you?



 Wisconsin (/wɪˈskɒnsɪn/ ⓘ wisk-ON-sin)[13] is a state in the Great Lakes

 region of the Upper Midwest of the United States. It borders Minnesota to the west,

 Iowa to the southwest, Illinois to the south, Lake Michigan to

 the east, Michigan to the northeast, and Lake Superior to the north.

 Wisconsin is the 25th-largest state by land area and the 20th-most populous. It is divided into 72 counties

 and as of the 2020 census had a population of nearly 5.9 million.[14] Its most populous city

 is Milwaukee, while its capital and second-most populous city is

 Madison. Other large population centers

 include Green Bay,

 Kenosha, Racine, and the Fox Cities.[15]

 Wisconsin's geography is diverse, having

 been greatly impacted by glaciers during the

 Ice Age with the exception of the Driftless Area.

 The Northern Highland and Western

 Upland along with a part of

 the Central Plain occupy the western

 part of the state, with lowlands

  stretching to the shore of Lake Michigan.

 Wisconsin is third to Ontario

 and Michigan in the length of its Great

 Lakes coastline. The northern portion of the

 state is home to the Chequamegon-Nicolet

 National Forest. At the time of European

 contact, the area was inhabited by Algonquian

 and Siouan nations, and today it is home to eleven

 federally recognized tribes.[16] During the 19th

 and early 20th centuries, many European settlers entered

 the state, most of whom emigrated from Germany

 and Scandinavia.[17][18] Wisconsin remains a

 center of German American and Scandinavian

 American culture,[19] particularly in respect

 to its cuisine, with foods such as bratwurst

 and kringle.

# For loops

In [224]:
for i in range(5):
  counter+=1
  print(counter)

1
2
3
4
5